on post-fs-data
    mkdir /data/bluetooth 0711 bluetooth bluetooth

    # wpa_supplicant control socket for android wifi.c
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    chmod 0770 /data/misc/wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    chmod 0660 /data/misc/wifi/p2p_supplicant.conf
    chown wifi wifi /data/misc/wifi
    chown wifi wifi /data/misc/wifi/wpa_supplicant.conf
    chown wifi wifi /data/misc/wifi/p2p_supplicant.conf

    # wpa_supplicant socket
    mkdir /data/system 0771 system system
    mkdir /data/system/wpa_supplicant 0771 wifi wifi
    chmod 0771 /data/system/wpa_supplicant
    chown wifi wifi /data/system/wpa_supplicant
    mkdir /data/misc/p2p_supplicant 0771 wifi wifi
    chmod 0771 /data/misc/p2p_supplicant
    chown wifi wifi /data/misc/p2p_supplicant

    # wpa_supplicant control socket for android wifi.c
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/dhcp 0771 dhcp dhcp
    mkdir /data/wifi 0771 wifi wifi
    chown dhcp dhcp /data/misc/dhcp

    setprop wifi.interface "wlan0"
    setprop wifi.direct.multicast 1

    insmod /system/lib/modules/mtk_hif_sdio.ko
    insmod /system/lib/modules/mtk_stp_wmt.ko
    insmod /system/lib/modules/mtk_stp_uart.ko
    insmod /system/lib/modules/mtk_stp_gps.ko
    insmod /system/lib/modules/hci_stp.ko
    insmod /system/lib/modules/mtk_gps.ko
    insmod /system/lib/modules/mt6620_fm_drv.ko
    insmod /system/lib/modules/mtk_fm_priv.ko
    insmod /system/lib/modules/mtk_wmt_wifi.ko
    insmod /system/lib/modules/wlan.ko
    start 6620_launcher

    setprop vold.post_fs_data_done 1

# MT6620 related services (Begin)
service 6620_launcher /system/bin/6620_launcher -m 1 -b 2000000 -n /system/etc/firmware/mt6620_patch_hdr.bin -d /dev/ttySAC0
    user system
    group system
    oneshot
    class mt6620_user_guard

service mnld /system/xbin/mnld
    socket mnld stream 666 system system
    disabled

service hald /system/bin/hald
    class main
    socket hald stream 0660 root system

service wpa_supplicant /system/bin/wpa_supplicant -dd -Dwext -iwlan0 -c /data/misc/wifi/wpa_supplicant.conf
    group wifi system inet
    disabled
    oneshot

service p2p_supplicant /system/bin/p2p_supplicant -dd -Dnl80211 -ip2p0 -c /data/misc/wifi/p2p.conf
    group wifi system inet
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -A -B -dd
    group system dhcp
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -A -B -dd
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service p2p_supplicant /system/bin/logwrapper /system/bin/p2p_supplicant
    group wifi
    disabled
    oneshot

service hfag /system/bin/sdptool add --channel=10 HFAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hsag /system/bin/sdptool add --channel=11 HSAG
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service opush /system/bin/sdptool add --channel=12 OPUSH
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service pbap /system/bin/sdptool add --channel=19 PBAP
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

# MT6620 related services (End)


